.ui.inverted.top.attached.menu
    a.icon.item(href='/' class="{{isActivePath '/'}}")
        i.large.home.icon
    if currentUser
        a#add_doc.icon.large.item
            i.large.plus.icon
    +atNavButton