template(name='account')
    .ui.container
        h1.ui.dividing.header Account

        .ui.container.segment
            .ui.form
                .field
                    label Email(s)
                    input(type='text' value=currentUser.emails[0].address)
                .field
                    label Change Password
                    input.disabled(type='text' value=currentUser.name)
                .field
                    label Change Username
                    input#username(type='text' value=currentUser.username)
                    #submit_username_change.ui.submit.button Submit
            