.ui.container
    .ui.header Compounded Bikes
    #add_bike.ui.button Add Bike
    .ui.list
        each bikes
            .item 
                .header Make
                .header Model #{model}
                .meta Compounded Date #{compounded_date}
    .ui.header Lost and Found
    .ui.list
    each bikes
        .item 
            .header Make
            .header Model #{model}
            .meta Compounded Date #{compounded_date}

    .ui.header Work Shop tools