template(name='contact')
    .ui.container
        h1.ui.center.aligned.header contact
        .ui.large.form
            .required.field
                label name
                input#name(type='text')
            .field
                label email
                input#email(type='email')
            .field
                label message
                textarea#message(rows='4')
            .field
                #send_contact_submission.ui.big.fluid.button
                    .uppercase send