with item
    .ui.container
        .image
            img.ui.centered.image(src="{{c.url image_id height=400 width=800 background='white' crop='lpad'}}")
            .overlay-text 
                h1 #{title}
        .ui.hidden.divider
        .ui.divided.stackable.grid
            .ten.wide.column
                .description
                    |!{content}
            .five.wide.column
                .ui.dividing.header Tags
                each tags
                    .ui.basic.label #{this}
                .ui.dividing.header Actions
                +favorite
                if isInRole 'admin'
                    .edit.ui.primary.basic.button
                        i.pencil.icon
                        |edit