.ui.inverted.borderless.large.menu
    .ui.container
        a.header.item(href='/' class="{{isActivePath '/'}}")
            .facet_black f
        .right.menu
            if isInRole 'admin'
                a.icon.item(href='/admin/content' class="{{isActivePath '/admin/'}}")
                    i.configure.icon
            if currentUser
                .item #{currentUser.username}
                a#logout.ui.item(href='#') 
                    i.sign.out.icon
            else
                a.ui.item(href='/sign-in') 
                    i.sign.in.icon